.root {
<<<<<<< HEAD
  display: flex;
=======
  width: 100%;
  display: flex;
  justify-content: center;
>>>>>>> upstream/homework-nasa-rover-viewer
  flex-direction: column;
  align-items: center;
}

<<<<<<< HEAD
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
=======
.Ñontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
>>>>>>> upstream/homework-nasa-rover-viewer
}
